@use "variables";

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: variables.$bg-color;
  display: flex;
  padding: clamp(7px, 0.8em, 16px);
  max-height: fit-content;
  align-content: flex-start;

  :not(:last-child):not(:first-child) {
    margin-right: auto;
  }

  p:not(.stopwatch-text) {
    font-size: max(1rem, calc(0.8vw + 0.8rem));
  }

  a {
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
}

.leaderboard {
  background-color: variables.$secondary-color;
  padding: 0.3em 0.5em;
  border-radius: 7px;

  transition: opacity 0.3s ease-in 0s;

  &:hover {
    opacity: 70%;
  }
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 0.4em;
}
