@use "variables";

.container {
  position: sticky;
  width: 100%;
  background-color: variables.$bg-color;
  display: flex;
  padding: clamp(7px, 0.8em, 16px);
  border-width: 0 0 0.5px 0;
  border-style: solid;
  max-height: fit-content;
  justify-content: space-between;

  p {
    font-size: calc(0.5vw + 0.8rem);
  }
  a {
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
}

.leaderboard {
  background-color: variables.$secondary-color;
  padding: 0.3em 0.5em;
  border-radius: 7px;

  transition: opacity 0.3s ease-in 0s;

  &:hover {
    opacity: 70%;
  }
}

.logo {
  width: 32px;
  height: 32px;
}
