@use "variables";

@font-face {
  font-family: "Digital";
  src: url("/public/digital_7/digital-7.ttf"),
    url("/public/digital_7/digital-7\ \(mono\).ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: variables.$text-color;
}

body {
  min-height: 100vh;
  background-color: darken($color: variables.$accent, $amount: 51);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

form {
  all: unset;
  * {
    color: black;
  }
}

.dropdown {
  visibility: hidden;
  position: absolute;
  background-color: variables.$darker-accent;
  border-radius: 8px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s;

  h1 {
    padding: 0.5em;
    font-weight: bold;
  }
}

.dropdown.slide {
  visibility: visible;
  max-height: 400px;
}

.checkmark {
  filter: invert(17%) sepia(65%) saturate(6356%) hue-rotate(356deg)
    brightness(94%) contrast(119%);

  translate: -50% -60%;
}

.dropdown-item {
  padding: 0.3em 0.4em;
  display: flex;
  margin-top: 0.4em;

  img {
    margin-right: 0.3em;
  }

  h3 {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.4rem;
  }

  transition: background-color 0.5s;

  &:hover {
    background-color: variables.$secondary-color;
  }
}

.dropdown-title {
  font-size: 1.4rem;
}

#win-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 1.8em;
  background-color: variables.$darker-accent;
  padding: 1em;

  & > * {
    margin: 0.25em 0;
  }
  label {
    color: variables.$text-color;
  }

  input {
    border-radius: 10px;
    padding: 0.2em;
  }

  button {
    background-color: variables.$secondary-color;
    padding: 0.4em 0.7em;
    font-size: 0.7em;
    border-radius: 12px;
    align-self: center;
    border-style: none;

    transition: background-color 0.3s ease-in 0.05s;
    &:hover {
      background-color: variables.$primary-color;
    }
  }
}

.notfication {
  padding: 1em;
  border-radius: 12px;
  font-size: 1.3rem;
  position: fixed;

  top: 5%;
  left: 50%;
  translate: -50% -50%;
  color: white;
}

.notfication-notfound {
  background-color: red;
}

.notfication-found {
  background-color: green;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: none;
  border-radius: 12px;
}

.index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 1em;
}

.game-card {
  width: max(400px, 25%);
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 12px;
  background-color: darken($color: variables.$secondary-color, $amount: 15);
}

.card-bottom {
  font-size: 1.3rem;
  padding: 0.3em 0.7em;
  border-style: none;
  margin: 1em 0;
  border-radius: 12px;
  color: variables.$bg-color;
  background-color: variables.$primary-color;
  align-self: center;

  transition: all 0.3s ease-in 0.05s;

  &:hover {
    opacity: 70%;
    transform: scale(1.06);
  }
}

.card-image {
  height: 200px;
  overflow: clip;
  border-radius: 12px 12px 0 0;

  img {
    transition: all 0.3s ease-in 0s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.table {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 4em;
  table {
    min-width: min(400px, 50%);
    border: 1px solid variables.$secondary-color;
    border-collapse: collapse;
    font-size: 1.1rem;

    thead tr {
      text-align: left;
      background-color: variables.$secondary-color;
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5em;
    }

    tbody tr {
      border-bottom: 1px solid variables.$accent;
    }
    tbody tr:nth-child(even) {
      background-color: darken($color: variables.$primary-color, $amount: 15);
    }
  }
}

.stopwatch {
  background-color: variables.$secondary-color;
  border-radius: 6px;
  padding: 0.2rem 0.4rem;
}

.stopwatch-text {
  font-family: "Digital";
  font-size: 2rem;
  letter-spacing: 0.3rem;
}
