@font-face {
  font-family: "Digital";
  src: url("/public/digital_7/digital-7.ttf"), url("/public/digital_7/digital-7 (mono).ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: #eaecf4;
}

body {
  min-height: 100vh;
  background-color: #090d19;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

form {
  all: unset;
}
form * {
  color: black;
}

.dropdown {
  position: absolute;
  background-color: #090d19;
  border-radius: 8px;
  overflow: hidden;
  transition: max-height 1s;
  width: max-content;
}
.dropdown h3,
.dropdown img {
  display: inline-block;
}
.dropdown h1 {
  padding: 0.5em;
  font-weight: bold;
}

.dropdown.flip {
  transform: translateX(-110%) scaleX(-1);
}
.dropdown.flip h1,
.dropdown.flip h3 {
  transform: scaleX(-1);
}

.checkmark {
  filter: invert(17%) sepia(65%) saturate(6356%) hue-rotate(356deg) brightness(94%) contrast(119%);
  translate: -50% -60%;
}

.dropdown-item {
  padding: 0.3em 0.4em;
  display: flex;
  margin-top: 0.4em;
  transition: background-color 0.5s;
}
.dropdown-item img {
  margin-right: 0.3em;
}
.dropdown-item h3 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.4rem;
}
.dropdown-item:hover {
  background-color: #32447e;
}

.dropdown-title {
  font-size: 1.4rem;
}

#win-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.8em;
  background-color: #090d19;
  padding: 1em;
}
#win-form > * {
  margin: 0.25em 0;
}
#win-form label {
  color: #eaecf4;
}
#win-form input {
  border-radius: 10px;
  padding: 0.2em;
}
#win-form button {
  background-color: #32447e;
  padding: 0.4em 0.7em;
  font-size: 0.7em;
  border-radius: 12px;
  align-self: center;
  border-style: none;
  transition: background-color 0.3s ease-in 0.05s;
}
#win-form button:hover {
  background-color: #95a3d1;
}

.notfication {
  padding: 1em;
  border-radius: 12px;
  font-size: 1.3rem;
  position: fixed;
  top: 5%;
  left: 50%;
  translate: -50% -50%;
  color: white;
}

.notfication-notfound {
  background-color: red;
}

.notfication-found {
  background-color: green;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: none;
  border-radius: 12px;
}

.index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 1em;
}

.game-card {
  width: max(400px, 25%);
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 12px;
  background-color: #1c2647;
}

.card-bottom {
  font-size: 1.3rem;
  padding: 0.3em 0.7em;
  border-style: none;
  margin: 1em 0;
  border-radius: 12px;
  color: #030407;
  background-color: #95a3d1;
  align-self: center;
  transition: all 0.3s ease-in 0.05s;
}
.card-bottom:hover {
  opacity: 70%;
  transform: scale(1.06);
}

.card-image {
  height: 200px;
  overflow: clip;
  border-radius: 12px 12px 0 0;
}
.card-image img {
  transition: all 0.3s ease-in 0s;
}
.card-image img:hover {
  transform: scale(1.1);
}

.table {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 4em;
}
.table table {
  min-width: min(400px, 50%);
  border: 1px solid #32447e;
  border-collapse: collapse;
  font-size: 1.1rem;
}
.table table thead tr {
  text-align: left;
  background-color: #32447e;
  font-weight: bold;
}
.table table th,
.table table td {
  padding: 0.5em;
}
.table table tbody tr {
  border-bottom: 1px solid #6077c6;
}
.table table tbody tr:nth-child(even) {
  background-color: #6075ba;
}

.stopwatch {
  background-color: #32447e;
  border-radius: 6px;
  padding: 0.2rem 0.4rem;
}

.stopwatch-text {
  font-family: "Digital";
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

/*# sourceMappingURL=main.css.map */
